NEXT_PUBLIC_BASE_URL_LOCAL=http://127.0.0.1:3000
ADMIN_SECRET="ADMIN_SECRET"
JWT_SECRET="JWT_SECRET"
# DONT CHANGE FOR RUNNING WITH DOCKER
DATABASE_URL="postgresql://postgres:postgres@db:5432/cms?schema=public"
NEXTAUTH_URL="http://localhost:3000"
APPX_AUTH_KEY="AUTH_SECRET"
NEXTAUTH_SECRET="NEXTAUTH_SECRET"
APPX_CLIENT_SERVICE=""
APPX_BASE_API = ""
DISCORD_ACCESS_KEY = "123"
DISCORD_ACCESS_SECRET = "123"
DISCORD_REDIRECT_URL = "https://app.100xdevs.com/discord/redirect"
BOT_TOKEN = "123"
GUILD_ID = "123"
LOCAL_CMS_PROVIDER = true
CACHE_EXPIRE_S = 10

ADMINS = "Random,example@gmail.com"
NEXT_PUBLIC_DISABLE_FEATURES = "featurea,featureb,featurec"
EXCHANGE_RATE_SECRET="" # https://www.exchangerate-api.com/
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_PAT=""