{
  "root": true,
  "env": { "node": true },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "semi": "error",
    "no-multi-spaces": "error",
    "space-before-blocks": "error"
  }
}
