version: '3.5'
services:
  next-frontend:
    build: .
    container_name: next-frontend-docker
    ports:
      - '3000:3000'
      - '5555:5555'
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./:/usr/src/app

  db:
    image: postgres:alpine
    container_name: cms-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data: 
