@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}
.vjs-quality-selector .vjs-custom-dropup-menu {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*Timestamp overlapping removal */

.vjs-play-progress .vjs-time-tooltip {
  display: none !important;
}
.vjs-time-divider {
  display: block !important;
}

.video-js .vjs-current-time {
  display: block !important;
}

.vjs-duration {
  display: block !important;
}

.vjs-tech:focus-visible {
  outline: none;
}

.timeline-segments {
  position: relative;
  left: 0;
  height: 5px;
  background-color: #afa4a4;
  transition: height 150ms ease-in-out;
}
.timeline-segments-preview {
  position: absolute;
  left: 0;
  background: #fff;
  top: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}
.timeline-segments-progress {
  position: absolute;
  left: 0;
  background: #f84b4b;
  top: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}
.timeline-segments:hover {
  height: 10px;
}

button[type='submit'] {
  @apply w-24 relative;
}

button[type='submit']:hover span {
  @apply hidden;
}

button[type='submit']:hover::before {
  content: 'Pay';
  @apply absolute inset-0 flex items-center justify-center;
}
